{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="fr" {% endblock %}

{% block styles %}
  {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename ='css/Base.css', _external = True)}}" />
{% endblock %}

{% block navbar %}
  {{nav.top.render()}}
{% endblock %}

{% block body %}
   {{super()}}

   <div class="footer">-- by arofarn with the help of Flask --</div>
{% endblock %}
