{% extends "base.html.j2" %}
{% block title %}Camétéo - {{ data_type }}{% endblock %}

{% block styles %}
  {{super()}}
    {{ css_resources|safe }}
{% endblock %}

{% block content %}
{% from "bootstrap/pagination.html" import render_pagination %}
<div class="container">

    {{ plot_div|safe }}

    <div id="json">
      <a href="/json_type_id={{ data_type }}">Télécharger les données (JSON)</a>
    </div>

    {{ render_pagination(dat) }}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Date/Heure</th>
                    <th>Type</th>
                    <th>Valeur</th>
                    <th>Capteur</th>
                </tr>
            </thead>
            <tbody>
                {% for item in dat.items -%}
                    {% if item.value is number %}
                        <tr>
                    {% else %}
                        <tr class="warning">
                    {% endif %}
                            <td>{{ item.valdate }}</td>
                            <td><a href="/type_id={{ item.type_id }}">{{ item.type_id }}</a></td>
                            <td>{{ item.value }} {{ item.unit }}</td>
                            <td><a href="/sensor_id={{ item.sensor_id }}">{{ item.sensor_id }}</a></td>
                        </tr>
                {%- endfor %}
            </tbody>
        </table>
    {{ render_pagination(dat) }}
    </div>
</div>

{{ js_resources|safe }}
{{ plot_script|safe }}

{% endblock %}
