{% extends "base.html.j2" %}
{% block title %}Camétéo{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Bienvenue !</h1>
        <p>Camétéo est un projet de prise de mesures et de photos pour documenter
        des activités d'extérieurs (randonnées, jardin...).</p>
        <p><a class="btn btn-primary btn-lg" href="/all_data" role="button">Voir les données...</a></p>
    </div>
</div>
{% endblock %}
