{% extends "base.html.j2" %}
{% block title %}Camétéo - Photos{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <p><a href={{ url_for('picture', num=numero+1) }}>Photo précédente</a>{% if numero > 0 %} | <a href={{ url_for('picture', num=numero-1) }}>Photo suivante</a>{% endif %}</p>
        <p><img src="{{ picture_path }}" width="1020" alt="Dernière photo prise" ></p>
        <p><a href="{{ picture_path }}"><span class="glyphicon glyphicon-download"></span>Télécharger la photo</a><p>
    </div>
</div>

{% endblock %}
